body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    background-size: cover;
}

h1 {
    color: #2a547d;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #7aaed7;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #475c72;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e6f4f6;
}

input[type="submit"], a, button {
    background-color: #287ba7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type="submit"]:hover, a:hover, button:hover {
    background-color: #216882;
}


p, li {
    line-height: 1.6;
}

ul, ol {
    padding-left: 40px;
    color: #3a3a3a;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 8px;
    background-color: #f7f7f7;
    padding: 5px 10px;
    border-left: 3px solid #84c4d6;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

li:hover {
    background-color: #e3f5f6;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.8em;
    background-color: #e6f4f6;
    color: #333;
}
